﻿@model TitleService.Models.TitleModel

@{
    ViewBag.Title = "Details";
}

<section class="featured">
    <div class="content-wrapper">

        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
    </div>
    <div class="content-table">
        <table>
            <tr>
                <td>
                    <span class="label">@Html.DisplayNameFor(model => model.TitleName) </span>
                </td>
                <td>
                    @Html.DisplayFor(model => model.TitleName)
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">@Html.DisplayNameFor(model => model.TitleId) : </span>
                </td>
                <td>
                    @Html.DisplayFor(model => model.TitleId)
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">@Html.DisplayNameFor(model => model.TitleNameSortable) : </span>
                </td>
                <td>
                    @Html.DisplayFor(model => model.TitleNameSortable)
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">@Html.DisplayNameFor(model => model.TitleTypeId) : </span>
                </td>
                <td>
                    @Html.DisplayFor(model => model.TitleTypeId)
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">@Html.DisplayNameFor(model => model.ReleaseYear) : </span>
                </td>
                <td>
                    @Html.DisplayFor(model => model.ReleaseYear)
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">@Html.DisplayNameFor(model => model.ProcessedDateTimeUTC) : </span>
                </td>
                 <td>
                    @Html.DisplayFor(model => model.ProcessedDateTimeUTC)
                </td>
                
            </tr>
        </table>

        <p>
            <span class="backlist">@Html.ActionLink("Back to List", "Index") </span>
        </p>
    </div>
</section>

