﻿@model PagedList.IPagedList<TitleService.Models.TitleModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Titles";
}


<section class="featured">
    <div class="content-wrapper">

        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            
        </hgroup>
        </div>
    </section>
<div class="content-table">

@using (Html.BeginForm("Index", "TitleClient", FormMethod.Get))
{
    <p>
        Find by Title name : @Html.TextBox("TitleName", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th class="sort first">
            @Html.ActionLink("TitleName", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="first">
            Title ID
        </th>
        <th class="sort first">
            @Html.ActionLink("ReleaseYear", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter } )
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TitleId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            
            <td>
                @Html.ActionLink("Details", "Details", new { name = item.TitleName })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>